APP_NAME=auth-service
SERVER_PORT=8086
DB_URL=jdbc:mysql://localhost:3306/auth_db
DB_USERNAME=
DB_PASSWORD=
EUREKA_SERVER_URL=http://localhost:8761/eureka
LOG_FILE_NAME=logs/auth-service.log
JWT_SECRET=change-me-to-a-secure-32-character-secret
JWT_EXPIRATION_MS=3600000
